// Variables
$main-blue: #111b47;
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/Roboto.woff2') format('woff2'), url('../fonts/roboto/Roboto.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@mixin font-400 {
    font-family: "Roboto", Arial, sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

@mixin main-button {
    background-color: $main-blue;
    color: white;
    padding: 4px 10px;
    border-radius: 2px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list {
        li {
            list-style: none;
            display: inline;
            @include font-400();
        }
    }
    &__btn {
        @include main-button();
    }
}